.project-page {
  background-color: #3f382e;
  color: white;
  .page-body > .container > .card {
    padding: 0;
    .card-img {
      margin: 0;
      overflow: hidden;
      img {
        margin: 0;
        width: 100%;
        //  object-fit:cover;
        &:hover {
          background-color: black;
          transform: scale(1.1);
          transition: 0.5s;
        }
      }
    }
    .card-body {
      width: 90%;
      div {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        .card-btn {
          appearance: none;
          background-color: #1a8338;
          border: 1px solid rgba(27, 31, 35, 0.15);
          border-radius: 6px;
          box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
          box-sizing: border-box;
          color: #fff;
          cursor: pointer;
          display: inline-block;
          font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          padding: 6px 16px;
          margin: 0 1rem;
          position: relative;
          text-align: center;
          text-decoration: none;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          vertical-align: middle;
          white-space: nowrap;
          text-decoration: none;
          &:hover {
            background-color: #2c974b;
          }
        }
      }
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  div > .project-page {
    .page-body > .container {
      // margin: 0;

      .card {
        .card-img {
          margin: 0rem;
        }

        .card-body {
          h2 {
            font-size: 1.2rem;
          }
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #root {
    .page-body > .container {
      margin: 0 2.5rem;
    }
  }
}
