div > .project-page {
  background-color: #3f382e;
  color:white;
  .page-body > .container > .card {
    padding: 0;
    .card-img{
      margin:0;
       overflow:hidden;
      img{
        margin: 0;
        width: 100%;
        //  object-fit:cover;
        &:hover{
          background-color: black;
          transform:  scale(1.1);
          transition: .5s;
        }
      }
    }
.card-body{
  width: 90%;
div{
  display: flex;
  justify-content: center;
  .card-btn{
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    // background-color: Crimson;  
    // border-radius: 5px;
    // color: white;
    // padding: .5em;
     text-decoration: none;
     &:hover{
      background-color: #2c974b;
    }
  }

}
}
p{
  font-size: 1.2rem;
}

  }
}



@media screen and (max-width: 1400px) {
  div > .project-page {

    .page-body > .container > .card {
   
      .card-img{
        margin:0rem;
      }
      p{
        font-size: 1.1rem;
      }
    }
  }
}
