@import "../../scss/mixins";
.project-page {
  min-height: 100vh;
  background-color: #3f382e;
  color: white;
  .page-body > .container > .card {
    padding: 0;
    height: 25rem;
    overflow: hidden;
    background-color: rgba($color: #000000, $alpha: 0);

    .card-img {
      margin: 0;
      height: 65%;
      img {
        margin: 0;
        height: 90%;
        // width: 100%;
        // min-height: 200px;
        //  object-fit:cover;
        &:hover {
          background-color: black;
          transform: scale(1.1);
          transition: 0.5s;
        }
      }
    }
    .card-body {
      background-color: rgba($color: #000000, $alpha: 0);
      width: 80%;
      h2 {
        color: #a8b090;
        font-size: 1.1rem;
      }
      .icon-group {
        font-size: 2rem;
        display: flex;
        justify-content: space-around;
        a {
          color: #a8b090;
          @include iconUrlHover;
        }
      }
    }
    p {
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  div > .project-page {
    .page-body > .container {
      // margin: 0;

      .card {
        .card-img {
          margin: 0rem;
        }

        p {
          font-size: 1.03rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #root {
    .page-body > .container {
      margin: 0 2.5rem;
      justify-items: center;
    }
    .card {
      width: 80%;
      .card-img {
        .img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #root {
    .page-body > .container {
      margin: 0;
      justify-items: center;
    }
  }
}
