#about-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  

  .left {
    width: 100%;
    min-width: 0;
    flex: 3 1 400px;
    padding: 4rem 2.5rem 2rem 4rem;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5rem;
    
    .left-header{
      margin: 2rem 0 2rem 0;
      h1{
        font-size: 1.5rem;
        width: 100%;
        margin: 0;
      }
    }


    h3 {
      margin-top: 2rem;
      font-size: 1rem;
    }

    ol{
      display: flex;
      margin: 0;
      justify-content: start;
      font-size: 0.9rem;
      li{
        margin: .2rem;
        display: flex;
        align-items: center;
        svg{
          margin-left: 5px;
        }
      }
      
    }
  }
  .right {
    flex: 1 1 400px;
    position: relative;
    display: flex;

    img {
      width: 80%;
      height: auto;
      margin: auto;
    }
  }
}



@media screen and (max-width: 1050px) {
  .about-page {
    .left {
      padding: 4rem 2rem;
      
      
    }
    .right{
      margin-bottom: 6rem;
    }
  }
}
