.about-page {
  scroll-margin-top: 48px;
  width: 100%;
  min-height: 96vh;
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.about-page .left {
  width: 100%;
  min-width: 0;
  flex: 3 1 400px;
  padding: 4rem 0 2rem 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5rem; }

.about-page .left .left-header {
  margin: 2rem 0 2rem 0; }

.about-page .left .left-header h1 {
  font-size: 2rem;
  width: 100%;
  margin: 0; }

.about-page .left h3 {
  font-size: 1.5rem; }

.about-page .left ol {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Cabin', sans-serif;
  font-family: 'Roboto', sans-serif; }

.about-page .left ol li svg {
  margin-left: 5px; }

.about-page .right {
  flex: 1 1 400px;
  position: relative;
  display: flex; }

.about-page .right img {
  width: 80%;
  height: auto;
  margin: auto; }

@media screen and (max-width: 1050px) {
  .about-page .left {
    padding: 4rem 2rem; }
  .about-page .right {
    margin-bottom: 6rem; } }
