@import "../../scss/mixins";

.certificate-page {
  .page-body {
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      grid-column-gap: 2rem;

      .card {
        background-color: #3f382e;
        color: #a8b090;
        .card-img {
          overflow: hidden;
          a {
            img {
              @include imgUrlHover;
            }
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

// div > .certificate-page {
//   // background-color: #e9edc9;
//   .page-body > .container > .card {

//     .card-img{
//       padding:0;

//       img{

//         width: 100%;
//       }
//     }

//   }
// }

// @media screen and (max-width: 1400px) {
//   div > .certificate-page {

//     .page-body > .container > .card {

//       .card-img{
//         margin:0rem;
//         // img{
//         //   margin: auto;
//         //   width: 100%;
//         // }
//       }

//     }
//   }
// }
