.contact-links {
  width: 4rem;
  position: fixed;
  z-index: 1000;
  right: 1rem;
  top: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem 0;
    color: inherit;
    text-decoration: inherit;
    &:hover {
      transition: 0.15s;
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
  .media-link {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .contact-links {
    position: absolute;
    top: 65vh;
    a {
      width: 2rem;
      height: 2rem;
      .media-link {
        font-size: 2rem;
      }
    }
  }
}
