.header-page{
    position: relative;
    height: 100vh;
    display:flex;
h1{
    font-size: 2rem;
}
.greeting{
    min-width:0;
    text-align: center;
    margin:auto;

;
p{
    font-size:3.5rem;
    font-weight: bold
}

}
}


@media screen and (max-width: 600px) {
.header-page > div > p{
    font-size: 2.5rem;
}
  }
  