@import "../../scss/variable";
.navbar-main {
  width: 100vw;
  max-width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  background-color: transparent;
  transition: all 1.25s ease;

  .logo {
    margin: 0.25rem 0 0 0.5rem;
    width: 2.2rem;
  }

  .navbar-list {
    margin-right: 1rem;
    flex: 4 1 300px;
    margin: 1rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;

    ul {
      display: flex;
      align-items: center;
      justify-content: start;
      li {
        margin-right: 1rem;
        a {
          text-decoration: none;
          color: #000;
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }

  &:hover {
    transition: backgroundColor 0.5s ease;
    background-color: $theme-dark;
    .navbar-list > ul > li > a {
      color: $theme-light;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        background-color: $theme-light;
        height: 2px;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar-main {
    .navbar-list {
      margin: 1rem 0.3rem;
      width: 100%;
      font-size: 1rem;
    }
  }
}
