

.page-body {

  min-height: 96vh;
  width: 100;
  padding: 2rem;
  display: flex;
  align-items: center;
    .expSkill {
    padding: 0.75rem;
    border-radius: 15px;
    background-color: #f1dbb7;

  }
  p {
    font-size: 1.5rem;
  text-indent: 2rem;
  }
}
