#experience-page .page-body {
  min-height: 100vh;
  width: 100;
  padding: 2rem;
  display: flex;
  align-items: center; }

#experience-page .page-body p {
  font-size: 1.5rem; }

#experience-page .page-body .vertical-timeline {
  margin: 0 auto 3rem auto; }

#experience-page .page-body .vertical-timeline span i {
  font-size: 2rem; }

#experience-page .page-body .vertical-timeline-element ol {
  margin: 1rem 0 0 0; }

#experience-page .page-body .vertical-timeline-element-header {
  display: flex;
  align-items: center; }

#experience-page .page-body .vertical-timeline-element-header h3, #experience-page .page-body .vertical-timeline-element-header h5 {
  font-weight: 500; }

#experience-page .page-body .vertical-timeline-element-title {
  margin-left: .8rem;
  width: 100%; }

#experience-page .page-body .vertical-timeline-element-title h3 {
  margin: 0.3rem auto;
  font-size: larger; }

#experience-page .page-body .vertical-timeline-element-avatar img {
  width: 3rem;
  display: block; }

#experience-page .page-body .vertical-timeline-element-description ul {
  margin: 1.5rem 0 0 0.8rem;
  display: flex;
  flex-direction: column; }

#experience-page .page-body .vertical-timeline-element-description ul li {
  margin: 0 0 0.6rem 0; }

#experience-page .page-body .vertical-timeline-element-description ul li a {
  padding: 0 0.4rem; }

#experience-page .page-body .vertical-timeline-element-description ul li:last-child {
  margin: 0; }

#experience-page .page-body .vertical-timeline-element-description ul li::before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  /*   border-width: 0.35em 0 0.35em 0.45em; */
  border-width: 0.35em 0 0.35em 0.55em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative; }

#experience-page .page-body .vertical-timeline-element-skill li {
  font-size: 11px;
  padding: 0.25rem;
  border-radius: 3px;
  background-color: #f1dbb7;
  margin: 0.2rem; }

@media screen and (max-width: 450px) {
  .page-body {
    padding: 2rem 1rem; }
  .page-body li {
    margin: 0.1rem !important; } }
